<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- SQL 을 적어놓은 ..Mapper.xml 파일들을 사용등록하는 영역-->
    <mappers>
        <mapper resource="mappers/PersonMapper.xml" />
    </mappers>
</configuration>